footer {
  background: var(--bg-footer);
}

.footer {
  padding: 40px 0;
}

.footer .titulo {
  margin-bottom: 20px;
}

.footer p {
  max-width: 46ch;
  font-size: 18px;
  margin-bottom: 40px;
}

.icones-rede-social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center; 
}

.icones-rede-social a {
  display: flex;
  align-items: center; 
  gap: 10px;
  border: 2px solid var(--bg-btn);
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 18px;
  font-family: var(--font-textos);
  /* background: #3e3e3e; */
  background: transparent;
  /* color: white; */
  color: var(--bg-btn);
  cursor: pointer;
  transition: .3s;
}

.icones-rede-social a:hover {
  color: var(--text-btn);
  background: var(--bg-btn);
}

.icones-rede-social a i {
  font-size: 24px;
}

@media (max-width: 1000px) {
  .footer {
    padding: 40px 20px;
  }
}