/* ========= Variaveis =========== */
:root {
  --bg-header: #fafafa;
  --bg-projetos: #fff;
  --bg-intro-formacao: #fafafa;
  --bg-footer: #eeeeee;
  --bg-card: #fff;

  --color-titulos-textos: #0e0e0e;
  --color-destaque: #000;

  --bg-btn: #333;
  --text-btn: #ffffff;

  /* fonts */
  --font-titulos: 'Josefin Sans', sans-serif; 
  --font-textos: 'Open Sans', sans-serif;
}

.dark-theme {
  --bg-header: #111;
  --bg-projetos: #151515;
  --bg-intro-formacao: #111;
  --bg-footer: #0a0a0a;
  --bg-card: #1d1d1d;

  --color-titulos-textos: #f0f0f0;
  --color-destaque: #fff;

  --bg-btn: #eee;
  --text-btn: #000;
}

/* ========= Reset =========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ========= Estilo geral =========== */
img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo {
  font-family: var(--font-titulos);
  font-size: 3rem;
  color: var(--color-titulos-textos);
}

p {
  font-family: var(--font-textos);
  color: var(--color-titulos-textos);
}

h3, li {
  color: var(--color-titulos-textos);
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: rgb(238, 68, 238);
  border: none;
  border-radius: 50%;
  color: white;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .titulo {
    font-size: 2.5rem !important;
  }
}