main {
  background-color: var(--bg-intro-formacao);
  padding: 60px 0 140px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* =========== animação titulo ============ */
.css-typing h1 {
  border-right: .15em solid var(--color-titulos-textos);
  white-space: nowrap;
  overflow: hidden;
}
.css-typing h1:nth-child(1) {
  width: 8.2em;
  animation: type 2s steps(14, end);
  animation-fill-mode: forwards;
}
.css-typing h1:nth-child(2) {
  width: 5em;
  opacity: 0;
  animation: type2 2s steps(10, end), blink .5s step-end infinite alternate;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid var(--color-titulos-textos);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid var(--color-titulos-textos);
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ========== paragrafos =============== */
.sobre-mim p {
  color: var(--color-titulos-textos);
  max-width: 50ch;
  margin: 20px 0;
  font-size: 18px;
}

.sobre-mim p span {
  font-weight: 600;
  color: var(--color-destaque);
}

/* .main img {
  filter: drop-shadow(2px 2px 6px purple);
} */

.main .img {
  box-shadow: inset 0 0 0 8px #ffffff4d;

    animation: profile__animate 8s ease-in-out 1s infinite;
    background: url('/img/esther-perfil-github.jfif');

    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    box-shadow: inset 0 0 0 9px #ffffff4d;
    height: 400px;
    width: 400px;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
}
100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
}

@media (max-width: 950px) {
  .main {
    justify-content: center;
  }
}
@media (max-width: 780px) {
  main {
    padding: 40px 20px;
  }
  .titulo {
    font-size: 36px;
  }
  p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  main {
    margin-top: 60px;
  }
  .main .img {
    height: 250px;
    width: 250px;
  }
}